h1 {
    color: crimson;
    font-family: fantasy;
}

p.blue {
    color: blue;
    font-size: x-large;
    font-family: fantasy;
}

p.black {
    color: black;
    font-size: xx-large;
    font-family: fantasy;
}