<div class="row">
    <div class="col-md-6">
        <h4>Détails Clients</h4>


        <!-- afficher details clients -->
        <div>

            <h2>détails : nom , prénom</h2>
            <P>Email</P>

        </div>

        <!-- modifier détails clients -->

        <div>
            <span id="helpBlock" class="help-block">Modifier nom</span>
            <input type="text" class="form-control" placeholder="Nom client">

            <span id="helpBlock" class="help-block">Modifier prenom</span>
            <input type="text" class="form-control" placeholder="Prenom client">

            <span id="helpBlock" class="help-block">Modifier email</span>
            <input type="text" class="form-control" placeholder="Email client">
        </div>
    </div>

    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>Modifier</a>
</div>
<!--fin de row -->