h1.titre {
    color: royalblue;
    font-family: Courier New, Courier, monospace;
    text-align: center;
}

.faible {
    background: red;
}

.moyenne {
    background: orange;
}

.haute {
    background: green;
}

.well {
    background: blue;
    color: darkred;
}