h1.titre {
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h4.soustitre {
    color: red;
    text-align: center;
}

ul li.langage {
    color: blue;
}