h1.titre {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2.langue {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

ul li {
    list-style: none;
}

p.paragraphe {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
}

.liste {
    color: blue;
    font-weight: bold;
    font-size: 1.4rem;
}

.surLigner {
    background: yellow;
    width: 300px;
}