<h1 class="titre">{{titre}} </h1>

<div>
    <input type="text" placeholder="maillot" [(ngModel)]="nouveau" name="nouveau" class="input-sm">
    <input type="submit " value="ajouter " class="btn btn-success" (click)="ajouterLangage(nouveau) ">
</div>

<br>
<table class="table table-bordered " style="width:60% " border=1>

    <tr *ngFor="let maillot of maillots let i=index ">
        <td>{{i + 1}}</td>
        <td [ngStyle]="setStyles(maillot)">{{maillot.nom | uppercase}}</td>
        <td><span (click)="marquerImportant(i)" style="text-align: center">✅</span></td>
        <td><span (click)="marquerPasImportant(i)" style="text-align:center ">❌</span></td>

        <td>{{maillot.date | date: 'dd/MM/y'}}</td>

    </tr>




</table>