<h1 class="titre">{{titre}}</h1>

<p class="paragraphe">Je veux acheter :</p>


<div>
    <input type="text" placeholder="maillot" [(ngModel)]="nouveau" name="nouveau">
    <input type=" number " placeholder="prix " [(ngModel)]="prix " name="prix ">
    <input type="submit " value="ajouter " (click)="ajouterListe(nouveau, prix) ">
</div>
<br>

<table class="table table-bordered " style="width:60% " border=1>

    <tr>
        <th></th>
        <th>Titre Maillot</th>
        <th>Prix</th>
        <th></th>
    </tr>

    <tr *ngFor="let maillot of maillots let i=index ">
        <td width="20 ">{{i+1}}</td>
        <td class="maillot ">{{maillot.nom | uppercase}}</td>
        <td class="prix " width="30 ">{{maillot.prix | currency: 'EUR': true:'1.2'}} </td>

        <td width="10 "><span (click)="supprimerListe(i) " style="text-align:center ">❌</span></td>

    </tr>

    <tr>
        <td></td>
        <td style="text-align:right ">Total :</td>
        <td class="prix ">{{calculerTotal() | currency: 'EUR': true:'1.2'}}</td>
        <td></td>

    </tr>

</table>